.userTable {
  max-width: 800px;
}

.userTable .MuiTableRow-root.x_checked {
  background-color: #9e99ff;
}

.userTable .MuiTableRow-root.x_checked .MuiTableCell-root {
  color: #fff;
}

.tableCell-title {
  display: none;
}

.userTable-lineOfSelected {
  height: 40px;
  padding: 10px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .userTable {
    display: flex;
    flex-direction: column;
    max-width: 480px;
  }

  .userTable-lineOfSelected {
    order: 1;
  }

  .userTable .userTable-table {
    order: 2;
  }

  .userTable .MuiTableCell-head {
    display: none;
  }

  .userTable .MuiTableCell-head.x_checkbox {
    display: block;
  }

  .userTable .MuiTableRow-root {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #000;
    border-radius: 8px;
  }

  .userTable .MuiTableRow-root:last-child {
    margin-bottom: 0;
  }

  .userTable .MuiTableCell-body {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
  }

  .tableCell-title {
    display: inline;
    margin-right: 20px;
  }
}
